<html>
  <head>
    <!-- Require all the things here ! -->
  </head>
  <div class="main">
    <h1 class="site-title">I don't know what to call this yet</h1>
    <label>Enter your Spotify username</label>
    <input type="submit" />
    <input type="txet" />
  </div>
</html>